@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

:root {
  --header-color: #200F21;
  --text-color: #382039;
  --accent-color: #5A3D5C;
  --border: 2px solid #200F21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

body {
  background-color: #F6F6EB;
}

.container {
  overflow-x: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--accent-color);
  text-decoration: line-through;
}

h1, h2, a, i {
  color: var(--header-color);
}

h1 {
  font-size: clamp(1.2rem, 1.2rem + 2vw, 3.45rem);
}

h2 {
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

p {
  color: var(--text-color);
}

.util-social-bg {background-color: #fff3f5;}
.util-advice-bg {background-color: #f1fbf6;}
.util-ip-bg {background-color: #ecf1fb;}
.util-ecomm-bg {background-color: #f9fceb;}

.dash {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #f4f4f4;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.intro {
  display: flex;
  align-items: flex-start;
  padding: 2rem 1rem 1rem 1rem;
}

.intro > article > p {
  font-size: clamp(.9rem, .9rem + 1vw, 1.35rem);
  margin-top: clamp(1rem, 2rem + 2vw, 5rem);
}

.slide-body {
  border-top: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: max(90%, 500px);
}

.pagination i {
  font-size: 2rem;
}

.slide-btn {
  cursor: pointer;
}

.slide-btn:hover {
  transform: scale(1.02);
}

.slide.active {
  transform: translateX(0);
}

.pagination-markers {
  display: flex;
  gap: .75rem;
}

.pagination .marker {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: var(--border);
  transition: background 300ms linear;
}

.slide-body p {
  margin: 1.55rem 0 .85rem 0;
}

.slide-container {
  position: relative;
  width: 100%;
}

.slide-challenge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}

.slide-challenge > p {
  font-size: clamp(.8rem, .8rem + 1vw, 1.25rem);
}

.slide {
  transition: transform 400ms ease-in-out, opacity 300ms 200ms ease;
}

.challenge-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  z-index: 3;
}

.challenge {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.challenge > a {
  padding: clamp(1rem, 1rem + 1vw, 3rem);
}

.zoom {
  width: 65%;
  height: 100%;
  min-height: 170px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  cursor: grab;
  opacity: 0;
  transition: opacity 300ms ease;
}

.zoom:hover {
  opacity: 1;
}

.social-media-dash { 
  background: url(images/social-media_dashboard.png); 
}
.advice-generator { 
  background: url(images/advice-generator.jpg); 
}
.ip-tracker { 
  background: url(images/ip-tracker.jpg); 
}
.e-commerce { 
  background: url(images/e-commerce.jpg); 
}

.challenge {
  border-top: var(--border);
}

@media (min-width: 920px) {
  .container {
    display: flex;
  }
  .dash, .challenge-container {
    width: 50%;
  }
  .challenge-container {
    border-left: var(--border);
  }
  .challenge:nth-of-type(1) {
    border-top: 0;
  }
}