@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

:root {
  --primary-color: #012b07;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: line-through;
}

h1, p, a, span {
  color: var(--primary-color);
}

h1 {
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2rem);
}

p, .slide > span {
  font-size: clamp(.8rem, .8rem + 1vw, 1.25rem);
  line-height: 1.6;
}

.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
  min-height: 65vh;
}

.dash > nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dash .divider {
  font-size: 2rem;
  font-weight: 300;
}

.dash > nav img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.dash p {
  margin: 1.55rem 0 .85rem 0;
}

.body {
  position: relative;
}

.slide-challenge {
  position: absolute;
  top: 0;
  left: 0;
}

.slide {
  transition: transform 500ms ease, opacity 200ms ease;
}

.pause-indicator {
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  transition: opacity 200ms ease;
}

.pause-indicator > i {
  font-size: 2rem;
}

.challenge-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border-left: 1px solid var(--primary-color);
}

.challenge {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.challenge > a {
  padding: clamp(1rem, 1rem + 1vw, 3rem);
}

.zoom {
  width: 65%;
  height: 100%;
  min-height: 170px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease;
}

.zoom:hover {
  opacity: 1;
}

.social-media-dash { 
  background: url(images/social-media_dashboard.png); 
}
.advice-generator { 
  background: url(images/advice-generator.jpg); 
}
.ip-tracker { 
  background: url(images/ip-tracker.jpg); 
}
.e-commerce { 
  background: url(images/e-commerce.jpg); 
}

.challenge {
  border-top: 1px solid var(--primary-color);
}

@media (min-width: 920px) {
  .container {
    display: flex;
  }
  p {
    max-width: 35ch;
  }
  .dash, .challenge-container {
    height: 100vh;
    height: --webkit-fill-available;
    width: 50%;
  }
  .dash {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7rem;
    padding: 1rem 4rem;
    text-align: left;
  }
  .dash p {
    margin: 3.5rem 0 1rem 0;
  }
  .challenge:nth-of-type(1) {
    border-top: 0;
  }
}