@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --lt-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --gray-blue: hsl(217, 19%, 24%);
  --dark-gray-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: var(--dark-blue);
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.card {
  background-color: var(--gray-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding-block: 3rem 5rem;
  padding-inline: clamp(1rem, 1rem + 1vw, 3rem);
  margin: 0 1rem;
  width: min(900px, 100% - 1rem);
  border-radius: 18px;
  position: relative;
}

.card > h1 {
  color: var(--neon-green);
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.advice {
  color: var(--lt-cyan);
  font-size: 28px;
  text-align: center;
}

.btn {
  background-color: var(--neon-green);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
}

.btn:hover {
  box-shadow: 1px 1px 14px 1px var(--neon-green);
}